@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
/* font family taken from https://fonts.google.com/specimen/Cinzel */

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}
footer {
    font-size: small;
}
.navbar{
    background-color: aliceblue;
}
h1 {
    font-family: 'Cinzel', serif;
}
.btn-success{
    background-color: cadetblue;
    color: black;
}
.btn-success:hover{
    background-color: #48929b ;
    color: black;
}
.btn{
    padding:4px;
}
.text-dark:hover{
    font-size:14px;
    font-weight:bold;
}
