@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Find Jobs that suit you!</h1>
    <p>
        Here jobs can be posted and applied to. The users can find different jobs related to their skill set. Then apply to the job and follow different steps along the way. At last Create the application.
    </p>
    <p>
        The company details will be provided under the company tab. Click on the link to reach the list of companies.
    </p>
    <p>
        Using the company ID we create the jobs for that company and display them under the jobs tab.
    </p>
    <p>
        The major option is the user can check the listed jobs, look for the job ID they want to apply for and then go under Users tab create a new user enter their details and and select the job ID for which job they want to apply for. 
    </p>
</div>
